<?xml version="1.0"?>
<!--
  有关如何配置 ASP.NET 应用程序的详细信息，请访问
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,log4net"/>
  </configSections>
  <appSettings>
    <add key="BiLv_wangyin" value="1"/>
    <!--
    <add key="DBNativeWeb" value="Data Source=185.224.170.122,1433; Initial Catalog=RYNativeWebDB; User ID=sa; Password=zhutao@ASSza12; Pooling=true" />
    <add key="DBPlatform" value="Data Source=185.224.170.122,1433; Initial Catalog=RYPlatformDB; User ID=sa; Password=zhutao@ASSza12; Pooling=true" />
    <add key="DBAccounts" value="Data Source=185.224.170.122,1433; Initial Catalog=RYAccountsDB; User ID=sa; Password=zhutao@ASSza12; Pooling=true" />
    <add key="DBTreasure" value="Data Source=185.224.170.122,1433; Initial Catalog=RYTreasureDB; User ID=sa; Password=zhutao@ASSza12; Pooling=true" />
    <add key="DBRecord" value="Data Source=185.224.170.122,1433; Initial Catalog=RYRecordDB; User ID=sa; Password=zhutao@ASSza12; Pooling=true" />
    <add key="DBGameMatch" value="Data Source=185.224.170.122,1433; Initial Catalog=RYGameMatchDB; User ID=sa; Password=zhutao@ASSza12; Pooling=true" />
    -->
    <add key="DBNativeWeb" value="Data Source=127.0.0.1,1433; Initial Catalog=RYNativeWebDB; User ID=sa; Password=root; Pooling=true" />
    <add key="DBPlatformManager" value="Data Source=127.0.0.1,1433; Initial Catalog=RYPlatformManagerDB; User ID=sa; Password=root; Pooling=true" />
    <add key="DBPlatform" value="Data Source=127.0.0.1,1433; Initial Catalog=RYPlatformDB; User ID=sa; Password=root; Pooling=true" />
    <add key="DBAccounts" value="Data Source=127.0.0.1,1433; Initial Catalog=RYAccountsDB; User ID=sa; Password=root; Pooling=true" />
    <add key="DBTreasure" value="Data Source=127.0.0.1,1433; Initial Catalog=RYTreasureDB; User ID=sa; Password=root; Pooling=true" />
    <add key="DBRecord" value="Data Source=127.0.0.1,1433; Initial Catalog=RYRecordDB; User ID=sa; Password=root; Pooling=true" />
    <add key="DBGameMatch" value="Data Source=127.0.0.1,1433; Initial Catalog=RYGameMatchDB; User ID=sa; Password=root; Pooling=true" />
    <!-- 站点Cookie名 建议修改-->
    <add key="CookiesName" value="RYQIPAI"/>
    <!-- 用户登录缓存KEY值 建议修改-->
    <add key="UserLoginCacheKey" value="RYLoginCacheKeyValue"/>
    <!-- 用户登录Cookies过期时间 单位分钟 不建议修改-->
    <add key="UserLoginCacheTimeOut" value="30"/>
    <!-- 用户登录Cookies值加密的KEY值 建议修改 -->
    <add key="UserLoginCacheEncryptKey" value="BSmxlKXoRrfUoT0CjNCS"/>
    <!-- 同步登录MD5加密KEY值 如果修改游戏客户端也需修改-->
    <add key="SyncLoginKey" value="RYSyncLoginKey"/>
    <!-- 同步登录链接过期时间 单位毫秒-->
    <add key="SyncUrlTimeOut" value="120000"/>
    <!-- 帐号申诉加密KEY值 建议修改-->
    <add key="ReportForgetPasswordKey" value="ReportForgetPasswordKeyValue"/>
    <!-- 是否开启移动版下载模块 0:不开启 1：开启-->
    <add key="IsShowMoblieDownload" value="1"/>
    <!-- 生产地址,正式上线使用 -->
    <!--苹果充值-->
    <add key="appUrl" value="https://sandbox.itunes.apple.com/verifyReceipt"/>
    <!-- 测试地址，正式使用更新为https://buy.itunes.apple.com/verifyReceipt -->
    <!--苹果充值-->
    <!--亿卡-->
    <add key="url_yika" value="http://www.1983game.com/Bank/"/>
    <add key="parter_yika" value=""/>
    <add key="key_yika" value=""/>
    <!--智付接口-->
    <add key="parter_zhifu" value=""/>
    <add key="priKey_zhifu" value="MIICdwIBADANBgkqhkiG9w0BAQEFAASCAmEwggJdAgEAAoGBAO3tZezuqo/MsitwVDUesyxElByeu1uiWU3CHIPiISxS/G5oe4gneJ2iBpRibXXXTV2eYHYEOMrckHykPN0hMq7D3B80usKPoIf/UA/56cBsYDNuXOriy0uzj+oApCJm9FxgYMbSFq8UT2R4QKJdk8vZQ0S5OioN6XN0LvqZN5tFAgMBAAECgYEAuGLDG7P2YIytAzcBO014Y3UeJ3PoFOKjPLyS5q4HMVd6o4G7Qk/8jIT1fmctFybsoQHNFYi+DpCSNNX/CQviPsmlh8CLa5K5FNOxNfjWs1HZTdZPcn3wwR5H6tJZ/mzogPZyS3jEJ9rD6FyDlqZKHuNZPcDIuF090CfXEmQPe/0CQQD5Iho0j0wyq6WKVRkeKpZDQ/rLcwEcFZIMLR5LSse4Ehx2gfndMmNkE6tpZRqR0OuTqfuDSD5o2bpKlSh/Ap1LAkEA9Hw5/FFoBv5Fr0NTrFZ6ggAsMs6wzpTyYQfuSiZBUe2OWnzwwjoYp3WEJCIyZ/YUyoZxuIVT+jv3afiw7OYfrwJAWO8ekbKxzcjOcGJOdCFZwKtsxOHJ/J+KokQc812/i+sTNA7UBm1tY5VN9HK+GF2PKwhcG5JXjRBkWymB6k0hnwJAYyJUKNmhguRrwStdrE3MkxYa1ec1ji6bMXkTyIFGjz/yLwLmZPtFr/FYyYYMRldkCtMFHbsCWD8kjZXHt+eABQJBAJdE5tcx5F6s99u+y/OfFq/o7OrM1orUWcDUm0WHHH0rApwLiyX6AuvIQSheOHn5yF69tbQyq22G6ae3KnOTWZE="/>
    <add key="pubKey_zhifu" value="MIGfMA0GCSqGSIb3DQEBAQUAA4GNADCBiQKBgQCWEVOSB2WVaAAkyiG5SV4I15OnteGPGAL64TFOm8+f+/7VWCxx1V5TajqDANoWgPH9MwlEk3UfmAn3X3M/AU62DkczLfVOFX5Rd8ikKcTtxJL0B91dvYkKURGa5zix42I8n5rE/FHjqWq8oDVEFGCEmStDBi1tWLJDZ9LM3TxYSQIDAQAB"/>
    <!--多得宝接口-->
    <add key="url_duodebao" value="https://pay.ddbill.com/gateway?input_charset=UTF-8"/>
    <add key="parter_duodebao" value=""/>
    <add key="priKey_duodebao" value="MIICdwIBADANBgkqhkiG9w0BAQEFAASCAmEwggJdAgEAAoGBAO3tZezuqo/MsitwVDUesyxElByeu1uiWU3CHIPiISxS/G5oe4gneJ2iBpRibXXXTV2eYHYEOMrckHykPN0hMq7D3B80usKPoIf/UA/56cBsYDNuXOriy0uzj+oApCJm9FxgYMbSFq8UT2R4QKJdk8vZQ0S5OioN6XN0LvqZN5tFAgMBAAECgYEAuGLDG7P2YIytAzcBO014Y3UeJ3PoFOKjPLyS5q4HMVd6o4G7Qk/8jIT1fmctFybsoQHNFYi+DpCSNNX/CQviPsmlh8CLa5K5FNOxNfjWs1HZTdZPcn3wwR5H6tJZ/mzogPZyS3jEJ9rD6FyDlqZKHuNZPcDIuF090CfXEmQPe/0CQQD5Iho0j0wyq6WKVRkeKpZDQ/rLcwEcFZIMLR5LSse4Ehx2gfndMmNkE6tpZRqR0OuTqfuDSD5o2bpKlSh/Ap1LAkEA9Hw5/FFoBv5Fr0NTrFZ6ggAsMs6wzpTyYQfuSiZBUe2OWnzwwjoYp3WEJCIyZ/YUyoZxuIVT+jv3afiw7OYfrwJAWO8ekbKxzcjOcGJOdCFZwKtsxOHJ/J+KokQc812/i+sTNA7UBm1tY5VN9HK+GF2PKwhcG5JXjRBkWymB6k0hnwJAYyJUKNmhguRrwStdrE3MkxYa1ec1ji6bMXkTyIFGjz/yLwLmZPtFr/FYyYYMRldkCtMFHbsCWD8kjZXHt+eABQJBAJdE5tcx5F6s99u+y/OfFq/o7OrM1orUWcDUm0WHHH0rApwLiyX6AuvIQSheOHn5yF69tbQyq22G6ae3KnOTWZE="/>
    <add key="pubKey_duodebao" value="MIGfMA0GCSqGSIb3DQEBAQUAA4GNADCBiQKBgQCC2m9q2go9OfzKK9G/7QYuJEIuXWMeOY7tE9fouCKPyuKAviFeMZMAFXmGKUfLXKv6ZPBqnNoMduumic8h43g3pJsETGQFX/cZd23P8FN063enkQW/9mfZpZLokVzhH6DUoXathQYCFJ0NR1QS6DxXwdN8DOyj9uE+kf5ivzRfaQIDAQAB"/>
    <!--41支付 -->
    <add key="url_41" value="http://api.hebaobill.com/gateway"/>
    <add key="partner_41" value=""/>
    <add key="key_41" value=""/>
    <!--仟易付支付接口-->
    <add key="url_qianyifu" value="http://wangguan.qianyifu.com:8881/gateway/pay.asp"/>
    <add key="partner_qianyifu" value=""/>
    <add key="key_qianyifu" value=""/>
    <!--junfutong支付接口-->
    <add key="userCode" value="01018114336901" />
    <add key="compKey" value="040109183017SeohS39M" />
    <add key="myappid" value="2f4cc3a69b5e54a2" />
    <!--天下付接口-->
    <add key="url_san" value="http://bpayment.maiduopay.com"/>
    <add key="partner_san" value=""/>
    <add key="key_san" value=""/>
    <!--方特-->
    <add key="url_ft" value="http://118.25.1.195/wft/pay.php"/>
    <add key="parter_ft" value=""/>
    <add key="key_ft" value=""/>
    <!--旺实付-->
    <add key="url_wsf" value="http://120.25.123.58:8082/form/pay"/>
    <add key="parter_wsf" value=""/>
    <add key="key_wsf" value=""/>
    <!--圣龙-->
    <add key="url_sl" value="http://api.shenglongpay.com/PayService/orderPay"/>
    <add key="parter_sl" value="10902"/>
    <add key="key_sl" value="a1ea642ca7954070a63202e38245e8a0"/>
    <!--优云宝-->
    <add key="url_yyb" value="http://pay1.youyunnet.com/pay"/>
    <add key="parter_yyb" value=""/>
    <add key="key_yyb" value=""/>
    <!--福莱尔-->
    <add key="url_168" value="http://pay.zlf168game.com/sgm/PerPay.php"/>
    <add key="parter_168" value=""/>
    <add key="key_168" value=""/>
    <!--大力通汇-->
    <add key="url_th" value="http://online.qutiti.com/pay/payment/payapply"/>
    <add key="parter_th" value=""/>
    <add key="key_th" value=""/>
    <!--汇付恒通-->
    <add key="url_hfht" value="http://www.heeepay.com/gateway/"/>
    <add key="parter_hfht" value=""/>
    <add key="key_hfht" value=""/>
    <!--盈付/乐支付-->
    <add key="url_jr" value="http://pay.fuaney.com/Paybank.aspx"/>
    <add key="parter_jr" value="10010"/>
    <add key="key_jr" value="10bd3782040a660d3fe2f7af20258907"/>
    <!--有益支付-->
    <add key="url_ue" value="http://www.ue-pay.com/Pay_Index.html"/>
    <add key="parter_ue" value="180838270"/>
    <add key="key_ue" value="e5v7jgkgamcuyfxu93ac0r7zb6zfrego"/>
    <!--网猫支付-->
    <add key="wm_merchant_id" value="1039"/>
    <add key="wm_pay_key" value="9d213dd74eacbef65c33a1741e563813"/>
    <add key="pay_url" value="http://localhost:54769"/>
    <add key="fileUrl" value="http://tp.oku7.cn"/>
    <!--逸付支付-->
    <add key="url_yifu" value="https://gateway.mkeybox.com/scanPay/initPay"/>
    <add key="bankurl_yifu" value="https://gateway.mkeybox.com/b2cPay/initPay"/>
    <add key="payKey_yifu" value="f70036a8a7ed4d75aa86ce74f51290e9"/>
    <add key="paySecret_yifu" value="cdc6b8823b4647b891e9292aba2ac813"/>
    <add key="url" value="http://yuanfeng1215.gicp.net/front11/"/>
    <!--手机短信接口 密码123456-->
    <add key="phoneName" value="C86121492"/>
    <add key="phonePwd" value="99fe126bd3e8fdc30711144fb5fef6a9"/>
    <add key="phoneContent" value="验证码：@,您正在进行注册操作[验证码告知他人将导致账号被盗，请勿泄露]【游戏】"/>
    <add key="phoneSign" value=""/>
    <add key="phonePostUrl" value="http://106.ihuyi.cn/webservice/sms.php?method=Submit"/>
    <add key="phonePostUrl" value="http://106.ihuyi.cn/webservice/sms.php?method=Submit"/>
    <add key="libocaiurl" value="http://m.gotogame.com.cn:81/Public.res.do"/>
    <add key="libocaikey" value="D3001974DF5B47F090BA5D1C98A345D3"/>
  </appSettings>
  <!--
    有关 web.config 更改的说明，请参见 http://go.microsoft.com/fwlink/?LinkId=235367。

    可在 <httpRuntime> 标记上设置以下特性。
      <system.Web>
        <httpRuntime targetFramework="4.5" />
      </system.Web>
  -->
  <system.web>
    <compilation targetFramework="4.5" debug="true"/>
    <httpRuntime/>
    <customErrors mode="Off" defaultRedirect="error.html">
      <error statusCode="404" redirect="404.aspx"/>
    </customErrors>
    <pages enableEventValidation="false" enableViewStateMac="false" viewStateEncryptionMode="Never" controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID">
      <controls>
        <add tagPrefix="webdiyer" namespace="Wuqi.Webdiyer" assembly="AspNetPager, Version=7.2.0.0, Culture=neutral, PublicKeyToken=fb0a0fe055d40fd4"/>
      </controls>
    </pages>
  </system.web>
  <system.webServer>
    <defaultDocument>
      <files>
        <clear/>
        <add value="default.aspx"/>
        <add value="Index.aspx"/>
        <add value="Default.htm"/>
        <add value="Default.asp"/>
        <add value="index.htm"/>
        <add value="index.html"/>
        <add value="iisstart.htm"/>
      </files>
    </defaultDocument>
    <directoryBrowse enabled="false"/>
    <staticContent>
      <remove fileExtension=".ogg" />
      <mimeMap fileExtension=".ogg" mimeType="application/octet-stream" />
      <remove fileExtension=".json" />
      <mimeMap fileExtension=".json" mimeType="application/json" />
      <mimeMap fileExtension=".luac" mimeType="application/octet-stream" />
      <mimeMap fileExtension=".lua" mimeType="application/octet-stream" />
      <mimeMap fileExtension=".plist" mimeType="application/xml" />
      <mimeMap fileExtension=".csb" mimeType="application/octet-stream" />
      <mimeMap fileExtension=".apk" mimeType="application/vnd.android.package-archive" />
      <mimeMap fileExtension=".fnt" mimeType="application/octet-stream" />
      <mimeMap fileExtension=".ipa" mimeType="application/octet-stream" />
    </staticContent>
    <httpErrors>
      <remove statusCode="404" subStatusCode="-1"/>
    </httpErrors>
  </system.webServer>
  <log4net>
    <appender name="RollingFileAppender" type="log4net.Appender.RollingFileAppender,log4net" additivity="false">
      <param name="File" value="Logs\\log.txt"/>
      <param name="AppendToFile" value="true"/>
      <param name="RollingStyle" value="Date"/>
      <param name="DatePattern" value="yyyy.MM.dd"/>
      <param name="StaticLogFileName" value="true"/>
      <layout type="log4net.Layout.PatternLayout,log4net">
        <param name="ConversionPattern" value="%n%d [%t] %-5p %c - %m%n"/>
        <param name="Header" value="&#xA;----------------------header--------------------------&#xA;"/>
      </layout>
    </appender>
    <logger name="File">
      <level value="ALL"/>
      <appender-ref ref="RollingFileAppender"/>
    </logger>
  </log4net>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="log4net" publicKeyToken="669e0ddf0bb1aa2a" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-1.2.15.0" newVersion="1.2.15.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-7.0.0.0" newVersion="4.5.0.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>